.DS_Store
Thumbs.db
db.json
*.log
/public
node_modules/
.deploy*/

/themes/next/themes/next/.DS_Store
/themes/next/themes/next/.idea/
/themes/next/themes/next/*.log
/themes/next/themes/next/*.iml
/themes/next/themes/next/node_modules/

